#wel{
    color: darkred;
}

#log{
    color: midnightblue;
}

#fd{
    box-shadow: 10px 10px 7px;
    width: 350px;
    background-image: url("https://images.unsplash.com/photo-1604076850742-4c7221f3101b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
}